.navigation{
    background-color: rgb(233, 169, 190); 
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 30px;
}
.tableau{
    height:100px; 
    background-color: rgb(233, 169, 190); 
    text-align: center;
}
.footer{
    background-color: rgb(233, 169, 190); 
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 30px;
}
.copyr{
    font-style:italic
}
h4{
    font-weight:lighter;
    font-size:xx-large
}